{{!--
 * SITE MODULE - SEARCH
 * ====================
--}}

{{!-- We use the custom if-conditional {{#if @config.custom.moduleSearch}} to switch this module on/off in the theme settings  --}}

{{#if @config.custom.moduleSearch}}

<div class="search mb-4">
    <h3>{{ translate 'sidebar.search' }}</h3>
    <form action="{{@website.searchUrl}}" class="row form-inline mx-0">
        <input
            class="col form-control mr-2"
            type="search"
            name="{{@config.custom.searchParam}}"
            placeholder="{{ translate 'sidebar.searchPlaceholder' }}"/>
        <button class="col-auto btn btn-primary my-2" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<script>
    (function () {
        var cx = '{{@config.custom.searchId}}';
        var gcse = document.createElement('script');
        gcse.type  = 'text/javascript';
        gcse.async = true;
        gcse.src   = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>

<gcse:searchresults-only></gcse:searchresults-only>

{{/if}}